@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  text-align: center;
  padding: 0.8em 0.8em;
}
.logo {
  width: 150px;
}
.hide-mobile {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 30px;
  margin-top: 45%;
}
p {
  font-size: 0.9em;
  line-height: 1.6em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h2,
.subhead {
  position: relative;
  z-index: 3;
}
.subhead {
  font-size: 1.1em;
}
.gray-container {
  width: 100%;
  color: #fff;
  padding: 4em 0 2em;
}
.footer-container {
  width: 100%;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 3em 0;
}
ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #050505;
  font-size: 0.8em;
}

.footer-container .container a img {
  width: 150px;
}
nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(60, 66, 70);
}
nav ul li a:hover {
  background-color: rgb(83, 89, 94);
}
.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}
.gray-container {
  width: 100%;
  background: #3c3d3d;
  color: #fff;
  margin-top: 5%;
  padding: 1em 0 1em;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}
.gray-container::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #3c3d3d;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -3;
}
.gray-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background: #fff;
  position: absolute;
  top: -80px;
  left: 0;
  z-index: -2;
  border-radius: 50%;
}
.gray-container .Image_container {
  transform: skewY(-2deg);
}
.Image_container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slides {
  display: flex;
  height: 100%;
}
.slide {
  min-width: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide-controls {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  height: 60px;
  border: none;
  padding: 10px;
  color: rgb(12, 12, 12);
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}
@media only screen and (min-width: 375px) {
  .Image_container {
    margin: 0 auto;
    width: 100%;
    height: 33em;
    overflow: hidden;
  }
  .slides {
    display: flex;
    height: 100%;
  }
  .slide {
    min-width: 100%;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide-controls {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #next-btn,
  #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    height: 60px;
    border: none;
    padding: 10px;
    color: rgb(12, 12, 12);
  }
  #next-btn:focus,
  #prev-btn:focus {
    outline: none;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
  }
}
@media only screen and (min-width: 650px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  h2 {
    font-size: 2.3em;
    margin: 1em;
  }
  .subhead {
    font-size: 1.4em;
  }
  .Image_container {
    margin: 0 auto;
    width: 80%;
    height: 35em;
    overflow: hidden;
  }
  .slides {
    display: flex;
    height: 100%;
  }
  .slide {
    min-width: 100%;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide-controls {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #next-btn,
  #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    height: 60px;
    border: none;
    padding: 10px;
    color: rgb(12, 12, 12);
  }
  #next-btn:focus,
  #prev-btn:focus {
    outline: none;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 60px;
  }
  nav ul {
    width: 40%;
  }
}
@media only screen and (min-width: 875px) {
  .subhead {
    margin-bottom: 5%;
  }
  .Image_container {
    margin: 0 auto;
    width: 70%;
    height: 35em;
    overflow: hidden;
  }
  .footer-container ul {
    margin: 4% 0 0;
  }
  .footer-container {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: right;
    padding: 1em 0;
    margin: 0 1em;
    width: 95px;
  }
  nav ul li a:hover {
    background-color: inherit;
  }
  .Image_container {
    margin: 0 auto;
    width: 60%;
    height: 40em;
    overflow: hidden;
  }
  .footer-container {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    width: 70%;
  }
  .gray-container {
    padding: 7em 0 2em;
  }

  h2 {
    margin-top: 4em;
  }
  .footer-container {
    font-size: 1.5em;
  }
  .footer-container ul {
    margin: 4% 0 0;
  }
}
